.gallerypage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; 
    margin-bottom: 20px; 

    img{
        border: 2px solid $border-color;
        width: 100%;
        height: auto;
        display: block;
    }
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;

}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery-image{
    border: 2px solid $border-color;
    width: 100%;
    height: auto;
    display: block;
}

// Add responsive behavior for mobile
@media (max-width: 767px) {
    .gallerypage {
        grid-template-columns: 1fr;
    }

    .gallery-video iframe {
        height: calc(100vw * 9 / 16);
    }
}
