/* technology.scss */

/* Landing page styling */

// A landing page with three columns
.landingpage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; 
  margin-bottom: 20px; 
}

.landingpage h1 {
	grid-column: span 3;
	justify-self: center;
}

/* Box designs on the rows */
.box {
  background: #f0f0f0; 
  border: 1px solid #739072; 
  padding: 20px; 
}

// Spanning the entire width
.box.full {
  grid-column: span 3;
}

// Spanning two columns
.two.column.box {
  grid-column: span 2;
}

.box:hover {
	border: 2px solid #3A4D39;
	cursor: pointer;
}

/*
 * Typography
 */
 body {
  font-family: 'Oswald', sans-serif;
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair', sans-serif;
	margin-bottom: 0.6em;
	font-weight: bold;
}

 
// Responsive design for mobile
@media (max-width: 767px) {
  .landingpage {
    grid-template-columns: 1fr; 
  }

  .box,
  .box.full,
  .two.column.box {
    grid-column: span 3; 
  }
}
