/* technology.scss */

/* Landing page styling */

// A landing page with three columns
.landingpage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; 
  margin-bottom: 20px; 
}

.landingpage h1 {
	grid-column: span 3;
	justify-self: center;
}

/* Box designs on the rows */
.box {
  background: $bg-white; 
  border: 1px solid $border-color; 
	cursor: pointer;

	/* Typography */
	font-family: 'Oswald', sans-serif;
	text-decoration: underline;
	font-size: 18px;
	font-weight: 700;
	color: $font-color;
}

// Spanning the entire width
.box.full {
  grid-column: span 3;
	
	/* Typography */
	font-family: 'Oswald', sans-serif;
	text-decoration: underline;
	font-size: 18px;
	font-weight: 700;
	color: $font-color;
}

// Spanning two columns
.two.column.box {
  grid-column: span 2;

	/* Typography */
	font-family: 'Oswald', sans-serif;
	text-decoration: underline;
	font-size: 18px;
	font-weight: 700;
	color: $font-color;
}

.box a {
  display: block; 
  width: 100%; 
  height: 100%; 
  text-align: center; 
  padding: 20px; 
  color: inherit; 
  text-decoration: none; 

  &:hover {
    background-color: $hover-BG;
    border: 2px solid #3A4D39; 
  }
}

/* Base structure for the layout with two columns */
.page-layout {
  display: grid;
  grid-template-columns: 250px 1fr; // Sidebar width and content taking the rest
  grid-gap: 20px;
}

/* Sidebar styling */
.sidebar {
  /* Sidebar styles here */
  a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: $link-color; // Make sure this variable is defined
    &:hover {
      background-color: $hover-bg-color; // Make sure this variable is defined
    }
  }
}

// Responsive design for mobile
@media (max-width: 767px) {
  .landingpage {
    grid-template-columns: 1fr; 
  }

  .box,
  .box.full,
  .two.column.box {
    grid-column: span 3; 
  }

	.page-layout {
    grid-template-columns: 1fr; // Full width on small screens
  }

  .sidebar {
    display: none; // Hide the sidebar on mobile
  }
}
