/* technology.scss */

/* A landing page with three columns*/
.landingpage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; 
  margin-bottom: 20px; 
}

// design of the box on the rows
.box {
  background: #f0f0f0; 
  border: 1px solid #ddd; 
  padding: 20px; 
}

// Spanning the entire width
.box.full {
  grid-column: span 3;
}

// Spanning two columns
.two.column.box {
  grid-column: span 2;
}

.landingpage h1 {
	grid-column: span 3;
	justify-self: center;
}

// Responsive design for mobile
@media (max-width: 767px) {
  .landingpage {
    grid-template-columns: 1fr; 
  }

  .box,
  .box.full,
  .box.half {
    grid-column: 1 / -1; 
  }
}
