$font-color: #CCC; 
$black-font-color: #222; 
$hover-bg: #526D82;
$nav-color: #526D82;
$border-color: #000;
$background-color: #575757;
$bg-white: #929292;
$header-background-color: #1D1D1D;
$header-border-color: #000;
$header-font-color: #CCC;
$footer-background-color: #1D1D1D;
$footer-border-color: #000;
$footer-font-color: #CCC;
$footer-link-color: #739072;