$font-color: #222; 
$hover-BG: #739072;
$nav-color: #3A4D39;
$border-color: #3A4D39;
$background-color: #ECE3CE;
$bg-white: #f0f0f0;
$header-background-color: #739072;
$header-border-color: #3A4D39;
$header-font-color: #ECE3CE;
$footer-background-color: #739072;
$footer-border-color: #3A4D39;
$footer-font-color: #ECE3CE;
$footer-link-color: #222;
