$font-color: #222; 
$background-color: #ECE3CE;
$header-background-color: #739072;
$header-border-color: #3A4D39;
$header-font-color: #fff;
$nav-color: #3A4D39;
$footer-background-color: #739072;
$footer-border-color: #3A4D39;
$footer-font-color: #fff;
$footer-link-color: #222;