$font-color: #444; 
$background-color: #fff;
$header-background-color: #f5f5f5;
$header-border-color: goldenrod;
$footer-background-color: darkred;
$footer-border-color: goldenrod;
$footer-font-color: #fff;
$footer-link-color: #222;