{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="gallerypage">
            {% for image in meta.gallery_images %}
                <div class="gallery-item">
                    <a href="https://www.student.bth.se/~olja23/dbwebb-kurser/design/me/portfolio/image/imggallery/{{ image.url }}">
                        <img src="https://www.student.bth.se/~olja23/dbwebb-kurser/design/me/portfolio/image/imggallery/{{ image.thumbnail }}" alt="{{ image.alt }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
   
    {% include 'incl/footer.twig' %}
</body>
</html>
