{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        {{ content }}
        !--<img class="profile-image-style" src="assets/img/olof-crop.jpeg" alt="Olof Jansson">-->
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
