{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        {{ content }}
        <div class="profile-image-style">
            <img src="{{ base_url }}/img/olof-crop.jpeg" alt="Olof Jansson">
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
