{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="page-layout" role="main">
        <div class="sidebar">
            <a href="technology/css.md">CSS</a>
            <a href="technology/html.md">HTML</a>
            <a href="technology/javascript.md">JavaScript</a>
            <a href="technology/php.md">PHP</a>
            <a href="technology/python.md">Python</a>
            <a href="technology/sqlite.md">SQLite</a>
        </div>
        <div class="content">
            {{ content }}
        </div>
    </div>
   
    {% include 'incl/footer.twig' %}
</body>

</html>
