{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="page-layout" role="main">
        <div class="sidebar">
            <a href="../content/technology/css">CSS</a>
            <a href="../content/technology/html">HTML</a>
            <a href="../content/technology/javascript">JavaScript</a>
            <a href="../content/technology/php">PHP</a>
            <a href="../content/technology/python">Python</a>
            <a href="../content/technology/sqlite">SQLite</a>
        </div>
        <div class="content">
            {{ content }}
        </div>
    </div>
   
    {% include 'incl/footer.twig' %}
</body>

</html>
